.layout {
    max-width: 928px;
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    margin: 0 auto;
    gap: 40px 32px;
    place-items: center;
}

.card {
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    overflow: hidden;
}

.card-foto img {
    width: 270px;
    height: 270px;
}

.card-foto {
    background-color: #00005506;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 384px;
}

.card-text1, .card-text2 {
    padding: 0.5rem 1rem;
}

.card-text1 {
    display: grid;
    grid-template-rows: 4.5rem auto;
}

.card-text2 {
    display: grid;
    grid-template-rows: 6rem auto;
}

p, h4, h3 {
    font-size: 14px;
    line-height: normal;
}

.card-header {
    height: 544px;
}

.card-main {
    height: 564px;
}

h3, h4 {
    margin-bottom: -10px;
}

h3 {
    font-weight: 500;
}

h4:first-of-type{
    font-weight: 400;
}